.config/geany/session.conf
.config/gtk-3.0/bookmarks
.config/pcmanfm
.local/share/applications
!.local/share/applications/browser.desktop
!.local/share/applications/img.desktop
!.local/share/applications/video.desktop